Clementine
GIMP/2.10
bashtop
chromium
clipit
cmus
dconf
dmenu-recent
gtk-2.0
gtk-3.0
libreoffice/4/user
morc_menu
nextjs-nodejs
obs-studio
pulse
vlc
volumeicon
i3-scrot.conf
user-dirs.dirs
user-dirs.locale
